* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Didot';
}

@font-face {
    font-family: 'Didot' ;
    src: url(didot.otf);
}
body {
    max-width: 100vw;
}
section {
    height: 100vh;
    border: 1px solid red;
    position: relative;
}
img {
    width: 50%;
}
h1 {
    font-size: 10vw;
    position: absolute;
}
h2 {
    font-size: 4vw;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

/* ******************** INTRO ******************** */
.imageContainer {
    justify-content: center;
}
.imageContainer > img {
    width: 50%;
}
.zaraTitle {
    top: 10vh;
    left: 8vw;
}
.zaraTitle2 {
    bottom: 2vh;
    right: 8vw;
}

/* ******************** INTRO 2 ******************** */
.banner2Container {
    justify-content: space-evenly;
    align-items: center;
}
.banner2Container > img {
    width: 25%;
}

/* ******************** DRESSES ******************** */
.dresses1 > h1 {
    font-size: 8vw;
}
.dressContainer {
    justify-content: center;
}
.dressContainer > img {
    width: 60%;
}
.dressTitle {
    top: 20vh;
    left: 10vw;
}

/* ******************** DRESSES 2 ******************** */
.dresses2 > h2 {
    position: absolute;
    font-size: 2.5vw;
}
.miniDresses {
    justify-content: center;
}
.miniDresses > img {
    width: 23%;
    margin: 0rem 2rem;
}
.dressText1 {
    width: 16ch;
    bottom: 10vh;
    left: 8vw;
}
.dressText2 {
    width: 20ch;
    top: 10vh;
    right: 1vw;
}